<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../static/css/main.css">
</head>
<body>
    
    <div id="header">
        <img src="../static/images/better-git-gui-logo.png" alt="" id="header-logo">
    </div>
    
    <div id="content">
        <button id="git_function_create_new">
            Create New Git!
        </button>
        <br>
        <br>
        <button id="git_function_open_existing">
            Open Existing Git!
        </button>
        <br>
        <br>
        <button id="git_function_clone_existing">
            Clone Existing Git!
        </button>
    </div>
    
    <script src="../static/js/dowload.js"></script> <!-- DownloadScript (Downloads git if necesary...) -->
    <script src="../static/js/git.js"></script> <!-- GitScript (Manages all the git actions) -->
</body>
</html>