* {
    margin: 0 auto;
    padding: 0;
}

body {
    background-image: url('https://images.wallpaperscraft.com/image/single/dark_spots_texture_background_50355_800x600.jpg');
    background-color: rgba(0, 0, 0);
    background-size: cover;
    
}

body::before {
    opacity: 50%;
}

#header {
    text-align: center;
    box-shadow: rgba(0, 0, 0, 0.25) 0px 54px 55px, rgba(0, 0, 0, 0.12) 0px -12px 30px, rgba(0, 0, 0, 0.12) 0px 4px 6px, rgba(0, 0, 0, 0.17) 0px 12px 13px, rgba(0, 0, 0, 0.09) 0px -3px 5px;
}

#header-logo {
    width: 450px;
    margin-right: 60px;
}

#content {
    text-align: center;
    transform: translateY(150px);
}